<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Home | Professional Web Typography by Donny Truong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Donny Truong">
    <meta name="copyright" content="prowebtype.com">
    <meta name="theme-color" content="#ffffff">
    <script>
        (function(d) {
            var config = {
                    kitId: 'uyg6oqg',
                    scriptTimeout: 1500
                },
                h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>

    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header role="banner" class="cover-title">
    <h1>Professional <br>Web Typography</h1>
</header>
<div class="main-wrap"></div>
<div class="footer-wrap"></div>

</body>
</html>
